body{
    background-image: url("https://wallpapers.com/images/hd/4k-ultra-hd-galaxy-halo-planet-8em36r3m48mpqdpw.jpg");
    height:400px ;
    width: 600px;
}

h1{
    text-align: center;
    padding-bottom: 20px;
}